@each $colorName, $colorValue in $pre-colors {
	.pre-color-#{$colorName} {
		color: $colorValue;
	}

	.pre-background-color-#{$colorName} {
		background-color: $colorValue;
	}

}

@each $colorName, $colorValue in $pre-colors-neutral {
	.pre-color-#{$colorName} {
		color: $colorValue;
	}

	.pre-background-color-#{$colorName} {
		background-color: $colorValue;
	}

}