// Font Families

@each $fontType, $fontName in $pre-fonts {
	.pre-font-#{$fontType} { font-family: $fontName; }
}

:root {
	font-family: $pre-font-default;
	font-size: pre-font-size(xs);

	@each $breakpointName, $breakpointValue in $pre-breakpoints-min {
		@media(min-width:$breakpointValue) {
			font-size: map-get($pre-font-sizes-root,$breakpointName);
		}
	}
}

// Headings
h1 {
	font-size: $pre-heading-font-size-h1;
	font-family: $pre-heading-font-family-h1;
}
h2 {
	font-size: $pre-heading-font-size-h2;
	font-family: $pre-heading-font-family-h2;
}
h3 {
	font-size: $pre-heading-font-size-h3;
	font-family: $pre-heading-font-family-h3;
}
h4 {
	font-size: $pre-heading-font-size-h4;
	font-family: $pre-heading-font-family-h4;
}
h5 {
	font-size: $pre-heading-font-size-h5;
	font-family: $pre-heading-font-family-h5;
}
h6 {
	font-size: $pre-heading-font-size-h6;
	font-family: $pre-heading-font-family-h6;
}


// Alignment
.pre-text-left		{ text-align: left; }
.pre-text-right		{ text-align: right; }
.pre-text-center	{ text-align: center; }


// Size
.pre-text-small { font-size: $pre-font-size-small; }
.pre-text-large { font-size: $pre-font-size-large; }
.pre-text-medium { font-size: $pre-font-size-large; }